body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root{
	width: 375px;
  margin: 20px auto;
  min-height: 400px;
  position: relative;
}
.App{
	box-sizing: border-box;
	text-align: center;
	/* padding: 15px; */
	width: 100%;
	background: #fff;
}
.am-button-primary{
  cursor: pointer;
}
.am-list-header{text-align: left;}


/* genius list */
.genius-card .am-card-body{
  text-align: left;
}
.am-card-footer .am-card-footer-content,
.am-card-footer .am-card-footer-extra {
  text-align: left;
}
.logout-btn{margin-bottom: 50px;}
.logout-btn .am-list-body{
  border: none;
}
/* footer */
.am-tab-bar-bar .am-tab-bar-tab {
    cursor: pointer;
}

/* 聊天页面 */
#chat-page .chat-me .am-list-extra {
  flex-basis: auto;
}

#chat-page .chat-me .am-list-content {
  padding-right: 15px;
  text-align: right;
}

#chat-page .am-grid-icon {
  display: none;
}

#chat-page .am-grid-text {
  margin-top: 0;
}

.stick-footer {
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
}